.flip {
  height: 800px;
  perspective: 1000px;
  &.flipped {
    .flip-wrap {
      transform: rotateY(180deg);
    }
  }
}

.flip-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-front,
.flip-back {
  box-shadow: 2px 2px 7px #3d3b3a;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

@include max-screen(960px) {
  .flip-front,
  .flip-back {
    box-shadow: none;
  }
}
