h1,
.h1,
h2 {
	@include font-candal();
	color: $red;
	line-height: 38px;
	text-align: center;
}
h1,
.h1 {
	font-size: 32px;
	text-transform: uppercase;
	span {
		color: $black;
		display: block;
	}
}
h2 {
	font-size: 20px;
	line-height: 26px;
}
p {
	font-family: 'Roboto', sans-serif;
}